<section class="video-banner">
  <div class="video-banner__rounded"></div>
  <div class="video-banner__container">
    <video
      muted
      autoplay
      loop
      src="/assets/banner-video/vinheta(720p).mp4"
      type="video/mp4"
    ></video>
  </div>
</section>