<header class="header">
  <div class="header__left">
    <button class="icon-btn" aria-label="Menu" onclick="openMenu()">
        <i class="menu-icon"><img src="/assets/icons/menu.png" alt=""></i>
    </button>
  </div>
  <div class="header__center">
    <img src="/assets/logo.png" alt="Logo" class="logo">
  </div>
  <div class="header__right">
    <button class="icon-btn" aria-label="Buscar" onclick="goToSearchPage()">
        <i class="quest-icon"><img src="/assets/icons/search.png" alt=""></i>
    </button>
  </div>
</header>
<div id="sidebar" class="sidebar">
  <button class="close-btn" onclick="closeMenu()">
    <img src="/assets/icons/back.png" alt="Back" class="back-icon" />
  </button>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>